tei-body {
font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 12pt;
}


tei-head {

    display: block; font-weight: bold; font-size: xx-large; color: blueviolet; text-align: center;
}


tei-p {

    display:block
}

tei-persname {
    
    font-variant: small-caps;
color: brown;
}

tei-abbr {
    display: none;
}

tei-expan {
    color: green;
}

tei-del {
    text-decoration: line-through red;
}

tei-add {
    color:fuchsia;
}
